USE_VERCEL=false
PRIVATE_STRIPE_WEBHOOK_SECRET=
PRIVATE_STRIPE_SECRET_KEY=
PRIVATE_STRIPE_PUBLIC_KEY=
PRIVATE_CRYPTOPANIC_KEY=

PRIVATE_SUPABASE_SECRET=
PUBLIC_SUPABASE_ANON=
PUBLIC_SUPABASE_URL=

PUBLIC_UI_ENABLE_XMAS=""

PUBLIC_NEWSLAB_URL=https://newslab.fomoed.io
PUBLIC_DASHBOARD_URL=http://localhost:3001

# Redis is required for coinstats widget (only)
# This is the default URL
PRIVATE_REDIS_URL=redis://localhost:6379

# Password may be configured if your redis instance requires it
PRIVATE_REDIS_PASSWORD=foobared

# Price IDs that are available to the users.
# Not all price IDs are available to users, because pricing can change. There will always be some archived/unused
# prices, that some existing subscriptions use. Therefore we need to specifi, which prices the users
# can use.
PUBLIC_AVAILABLE_PRICE_IDS=price_1RsMFcIJMmJNYMBW0SrUWmKb,price_1RsMEGIJMmJNYMBW1BFfUXZb,price_1RsMBQIJMmJNYMBWf7Y9wDRL,price_1RsM3vIJMmJNYMBW4N6o03PC
