USE_VERCEL=false
PRIVATE_STRIPE_WEBHOOK_SECRET=
PRIVATE_STRIPE_SECRET_KEY=
PRIVATE_STRIPE_PUBLIC_KEY=
PRIVATE_CRYPTOPANIC_KEY=

PRIVATE_SUPABASE_SECRET=
PUBLIC_SUPABASE_ANON=
PUBLIC_SUPABASE_URL=

PUBLIC_UI_ENABLE_XMAS=""

PUBLIC_NEWSLAB_URL=https://newslab.fomoed.io
PUBLIC_DASHBOARD_URL=http://localhost:3001

# Redis is required for coinstats widget (only)
# This is the default URL
PRIVATE_REDIS_URL=redis://localhost:6379

# Password may be configured if your redis instance requires it
PRIVATE_REDIS_PASSWORD=foobared