NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
PRIVATE_SUPABASE_SECRET=

CFGI_API_KEY=
PRIVATE_COINGLASS_KEY=
PRIVATE_CRYPTOPANIC_KEY=

PUBLIC_NEWSLAB_URL=https://newslab.fomoed.io
NEXT_PUBLIC_LEGACY_APP_URL=http://localhost:5173
NEXT_PUBLIC_USE_NEW_LOGIN=true

NEXT_PUBLIC_BACKEND_BASE=

NEXT_PUBLIC_REOWN_PROJECT_ID=

# Redis is required for coinstats widget (only)
# This is the default URL
REDIS_URL=redis://localhost:6379

# Password may be configured if your redis instance requires it
REDIS_PASSWORD=foobared

# Kuma monitors
KUMA_MONITOR_PUSH_URL_CRONJOB_NEWS="https://kuma.fomoed.io/api/push/lnQAY9i9ds?status=up&msg=OK&ping="