NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
PRIVATE_SUPABASE_SECRET=

CFGI_API_KEY=
PRIVATE_COINGLASS_KEY=
PRIVATE_CRYPTOPANIC_KEY=

PUBLIC_NEWSLAB_URL=https://newslab.fomoed.io
NEXT_PUBLIC_USE_NEW_LOGIN=true

NEXT_PUBLIC_BACKEND_BASE=

NEXT_PUBLIC_REOWN_PROJECT_ID=

# Redis is required for coinstats widget (only)
# This is the default URL
REDIS_URL=redis://localhost:6379

# Password may be configured if your redis instance requires it
REDIS_PASSWORD=foobared

# Smart signals backend
NEXT_PUBLIC_BACKEND_BASE=https://api.fomoed.io
NEXT_PUBLIC_BACKEND_SMART_SIGNALS_BASE=http://localhost:8083
# Kuma monitors
KUMA_MONITOR_PUSH_URL_CRONJOB_NEWS="https://kuma.fomoed.io/api/push/lnQAY9i9ds?status=up&msg=OK&ping="

# Cignals
NEXT_PUBLIC_CIGNALS_WS_URL=wss://fomoed-livesocket.netbound.cz:3000
PRIVATE_CIGNALS_KEY=

# Stripe product IDs
STRIPE_PRODUCT_IDS_PRO_PLAN=
STRIPE_PRODUCT_IDS_PLUS_PLAN=

# Set's the domain of cookies. Allow's for the same login across multiple apps.
NEXT_PUBLIC_SUPABASE_COOKIE_DOMAIN=.fomoed.io