NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

CFGI_API_KEY=
PRIVATE_COINGLASS_KEY=
PRIVATE_CRYPTOPANIC_KEY=

PUBLIC_NEWSLAB_URL=https://newslab.fomoed.io
NEXT_PUBLIC_LEGACY_APP_URL=http://localhost:5173
NEXT_PUBLIC_USE_NEW_LOGIN=true

NEXT_PUBLIC_BACKEND_BASE=

OPENAI_API_KEY=
NEXT_PUBLIC_REOWN_PROJECT_ID=

# Redis is required for coinstats widget (only)
# This is the default URL
REDIS_URL=redis://localhost:6379

# Password may be configured if your redis instance requires it
REDIS_PASSWORD=foobared

# Smart signals backend
NEXT_PUBLIC_BACKEND_BASE=https://api.fomoed.io